<%# This file has to be called "Layout.(something)"%>

<html>
    <head>
        <title>Resturant Assignment</title> <%#This is a comment in ERB!!!!%>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>