<nav>
    <div class="purple darken-3">
        <a href="/"><img src="/Users/user/Dev-Point/Week3/ResturantV2/images/urbana_logo_k-with-border-1.png"/></a>
        <ul id="nav-mobile" class="right">
        </ul>
    <div>
</nav>